.chat-container {
  width: 95%;
  height: 840px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  margin: 100px auto 0;
  position: relative;
}

.header-text {
  font-size: 1.25rem;
  font-weight: 600;
}

.header-text span {
  font-weight: 400;
}

.chat-messages {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  background-color: #f8f9fa;
  display: flex;
  flex-direction: column;
}

.chat-date-separator {
  text-align: center;
  margin: 15px 0;
  font-weight: bold;
  color: #555;
  background: #e0e0e0;
  padding: 6px 12px;
  border-radius: 20px;
  display: inline-block;
  align-self: center;
}

.message {
  display: flex;
  max-width: 75%;
  word-wrap: break-word;
  margin-bottom: 10px;
}

.message.sent {
  justify-content: flex-end;
  align-self: flex-end;
}

.message.received {
  justify-content: flex-start;
  align-self: flex-start;
}

.message-content {
  display: flex;
  flex-direction: column;
  padding: 10px 15px;
  border-radius: 15px;
  word-wrap: break-word;
  position: relative;
  font-size: 0.95rem;
  max-width: 400px;
}

.message.sent .message-content {
  background-color: #ff9800;
  color: white;
  border-top-right-radius: 0px;
}

.message.received .message-content {
  background-color: #e9ecef;
  color: black;
  border-top-left-radius: 0px;
}

.sender {
  font-weight: bold;
  font-size: 0.9rem;
  margin-bottom: 2px;
}

.timestamp {
  font-size: 0.75rem;
  color: #666;
  text-align: right;
  margin-top: 5px;
}

.chat-input-container {
  width: 97%;
  padding: 15px;
  background-color: #fff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: 1;
}

.chat-input {
  display: flex;
  align-items: center;
  gap: 15px;
}

.chat-input input {
  flex: 1;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 9999px;
  outline: none;
  font-size: 1rem;
}

.chat-input button {
  padding: 12px 20px;
  background-color: #ff9800;
  color: white;
  border: none;
  border-radius: 9999px;
  cursor: pointer;
  font-size: 1rem;
}

.chat-input button:hover {
  background-color: #e68900;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

body > nav,
body > header {
  flex-shrink: 0;
}

body > footer {
  flex-shrink: 0;
}

body > .App {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
